body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
}

.dashboard-wrapper {
  color: white;
}


.board {
  display: flex;
  flex-direction: row;
  width: 30.5em;
  background: rgb(0 74 103);
  border: 2px solid white;
  font-size: 30px;
  font-weight: 800;
  outline: none;
  color: 'yellow'
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}



